@import "./mixins";
@import "./variables";
@import "./animation";

.content {
  @include flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: $default-content-margin;
  height: $content-height;
  color: $white;

  &_fade-in {
    @include fade-in(1s);
  }

  &_align_center {
    align-items: center;
  }

  &_margin_0 {
    margin: 0;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: $header-font-size;
    margin: 0;
    @include fade-in(0.4s);
  }

  &__subheader {
    text-transform: normal;
    letter-spacing: 0.05em;
    font-size: $description-font-size;
    margin: $default-margin 0 0 0;
    @include fade-in(0.4s, 0.4s);
  }

  &__link {
    text-transform: normal;
    letter-spacing: 0.05em;
    font-size: $description-font-size;
    color: $white;
    text-decoration: none;
    @include fade-in(0.4s, 0.4s);
  }

  &__link:hover {
    color: $yellow;
  }

  &__description {
    text-transform: normal;
    margin: 1.875rem 0 0 0;
    width: 32.125rem;
    font-size: $description-font-size;
    line-height: 1.5rem;
    letter-spacing: $description-spacing;
    @include fade-in(0.4s, 0.4s);
  }

  &__line {
    width: 6.5rem;
    height: 1px;
    background: $yellow;
    display: block;
    margin-top: 2rem;
    // animation
    width: 0rem;
    animation: line-grow 0.5s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    &_margin_0 {
      margin: 0;
    }
  }
}

@media screen and (max-width: 620px) {
  .content {
    align-items: center;
    margin-left: 0;

    &__title {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: $header-font-size-small;
      margin: 0;
    }

    &__line {
      display: none;
    }

    &__line_hide_on_small {
      display: none;
    }

    &__description {
      width: 86%;
      margin: 1rem 0 0 0;
      text-align: center;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
