.font-thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.font-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.font-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;

  // &_hover_bold:hover {
  //   font-family: "MontserratBold";
  // }
}

.font-semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.font-extralight {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.font-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
