@import "./variables";
@import "./mixins";

.footer {
  @include flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  height: $top-nav-height;
  margin-bottom: $default-margin;
  padding-right: $default-margin;
}

@media screen and (max-width: 620px) {
  .footer {
    padding-right: 0;
    justify-content: center;
  }
}
