@import "./mixins";
@import "./variables";

.gallery {
  margin-top: $default-margin;

  &__item {
    display: inline-block;
    width: 25%;
    height: auto;
    cursor: pointer;
  }
}
