@import "./mixins";
@import "./variables";

.gallery {
  position: relative;
  z-index: 10;
  &__item {
    display: inline-block;
    width: 25%;
    height: auto;
    cursor: pointer;
  }
}
