@import "./variables";
@import "./mixins";

.locale {
  &__button {
    color: $white;
    text-decoration: none;
    margin-left: $default-margin;
    font-size: 0.875rem;

    &:last-of-type {
      margin-right: $default-margin/2;
    }
  }
}
