@import "./variables";
@import "./mixins";

.locale {
  &__button {
    background: none;
    border: none;
    cursor: pointer;
    color: $white;
    text-decoration: none;
    margin-left: $default-margin;
    font-size: 0.875rem;

    &:last-of-type {
      margin-right: $default-margin/2;
    }

    &:focus {
      outline: none;
    }

    &_active {
      color: $yellow;
    }
  }
}

@media screen and (max-width: 620px) {
  .locale {
    padding: 0;
    &__button {
      &:last-of-type {
        margin-right: $default-margin;
      }
    }
  }
}
