@import "./variables";
@import "./mixins";

.locale {
  &__button {
    background: none;
    border: none;
    cursor: pointer;
    color: rgba($white, 0.55);
    text-decoration: none;
    margin-left: $default-margin;
    font-size: 0.75rem;
    @include transition(all, 0.15s, ease-in);

    &:last-of-type {
      margin-right: $default-margin/6;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: $yellow;
    }

    &:nth-last-child(1) {
      @include fade-in(0.5s);
    }

    &:nth-last-child(2) {
      @include fade-in(0.5s, 0.15s);
    }

    &:nth-last-child(3) {
      @include fade-in(0.5s, 0.3s);
    }

    &_active {
      color: $white;
    }
  }
}

@media screen and (max-width: 620px) {
  .locale {
    padding: 0;
    margin: 0 !important;
    position: fixed;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    &__button {
      &:last-of-type {
        margin-right: $default-margin;
      }
    }
  }
}
