@import "./mixins";
@import "./variables";

.page-menu {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  z-index: 5;

  &__item {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 1.125rem;
    letter-spacing: 0.05em;
    color: $white;
    cursor: pointer;
    @include transition(all, 0.15s, ease-in);

    &:not(:first-of-type) {
      margin-top: 2.185rem;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: $yellow;
      letter-spacing: 0.075em;
    }

    &:nth-child(1) {
      @include fade-in(0.5s);
    }

    &:nth-child(2) {
      @include fade-in(0.5s, 0.05s);
    }

    &:nth-child(3) {
      @include fade-in(0.5s, 0.2s);
    }

    &:nth-child(4) {
      @include fade-in(0.5s, 0.15s);
    }

    &:nth-child(5) {
      @include fade-in(0.5s, 0.2s);
    }
  }
}

@media screen and (max-width: 620px) {
  .page-menu {
    &__item {
      font-size: 1.2rem;

      &:not(:first-of-type) {
        margin-top: 1.7rem;
      }
    }
  }
}
