.page-portfolio {
  overflow-y: scroll;
  background: rgba(#000000, 0.8);

  /* important for scrolling 
  without scrollbar */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */

  &__categories {
    @include flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  &__category {
    color: rgba($white, 0.55);
    text-decoration: none;
    margin-right: $default-margin;
    font-size: 0.875rem;
    text-transform: lowercase;
    @include transition(all, 0.15s, ease-in);

    &:hover {
      color: $yellow;
      transform: scale(1.2);
    }

    &_active {
      color: $white;
    }
  }
}
