@import "./mixins";
@import "./variables";

.page-menu {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  z-index: 5;

  &__item {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 0.025em;
    color: $white;
    cursor: pointer;
    @include transition(all, 0.15s, ease-in);

    &:not(:first-of-type) {
      margin-top: 2.185rem;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: $yellow;
      letter-spacing: 0.075em;
      // font-weight: bold;
      // font-size: 1.7rem;
      // transform: translate(25%) scale(1.5, 1.5);
      // -webkit-transform: translate(25%) scale(1.5, 1.5);
    }
  }
}

@media screen and (max-width: 620px) {
  .page-menu {
    &__item {
      font-size: 1.2rem;

      &:not(:first-of-type) {
        margin-top: 1.7rem;
      }
    }
  }
}
