@import "./mixins";
@import "./variables";

.page-portfolio {
  overflow-y: scroll;
  // background: rgba(#000000, 0.8);

  /* important for scrolling 
  without scrollbar */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */

  &__gallery {
    position: relative;
    z-index: 10;
    margin-top: $default-margin * 2 + $top-nav-height;
  }
}

@media screen and (max-width: 620px) {
  .page-portfolio {
    overflow-y: unset;
    position: relative;
    right: 0;

    &__lightbox {
      &_hide_on_small {
        display: none !important;
      }
    }

    &__gallery {
      position: relative;
      z-index: 1;
      margin-top: 7%;
    }
  }
}
