@import "./variables";
@import "./mixins";

.social {
  &__button {
    display: block;
    float: left;
    margin-left: $default-margin;
    width: 1.5rem;
    height: 1.5rem;
    color: $white;
    @include flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
    @include transition(all, 0.15s, ease-in);

    &:last-of-type {
      margin-right: $default-margin/6;
    }
    &:nth-last-child(1) {
      @include fade-in(0.5s);
    }

    &:nth-last-child(2) {
      @include fade-in(0.5s, 0.15s);
    }

    &:nth-last-child(3) {
      @include fade-in(0.5s, 0.3s);
    }

    &:hover {
      color: $yellow;
    }
  }
}

@media screen and (max-width: 620px) {
  .social {
    margin: 0 !important;
    padding: 0;
    position: fixed;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    &__button {
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
