@import "./mixins";
@import "./variables";

.top-nav {
  @include flex;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  margin-top: $default-margin;
  padding: 0 $default-margin;
  width: 100%;
  height: $top-nav-height;
  align-items: center;
  justify-content: space-between;
  color: $white;
  overflow: hidden;

  &__logo {
    @include no-select;
    @include flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid $white;
    color: $white;
    width: $top-nav-height;
    height: $top-nav-height;
    text-transform: uppercase;
    font-size: 1.5rem;
    border-radius: 2px;
    @include transition(all, 0.15s, ease-in);

    &:hover {
      color: $black;
      background: $button-bg-hover;
      border: none;
    }

    &:active {
      color: $black;
      background: $button-bg-active;
      border: none;
    }
  }

  &__items {
    @include flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  &__item {
    color: rgba($white, 0.55);
    text-decoration: none;
    margin-right: $default-margin;
    font-size: 0.875rem;
    text-transform: lowercase;
    @include transition(all, 0.15s, ease-in);

    &:hover {
      color: $yellow;
      transform: scale(1.2);
    }

    &_active {
      color: $white;
    }
  }
}
