$yellow: hsl(60, 100%, 50%);
$white: #fff;
$black: #000;

$button-bg-hover: $yellow;
$button-bg-active: hsl(60, 88%, 38%);
$default-margin: 3rem;
$top-nav-height: 2.5rem;
$hamburger-item-width: 1.75rem;
$default-content-margin: 15%;
// 100% - ($top-nav-height + $default-margin)*2
$content-height: calc(100vh - 11rem);
$header-font-size: 1.75rem;
$header-font-size-small: 1rem;
$description-font-size: 0.875rem;
$description-spaccing: 0.075em;
$black-overlay: rgba(#000000, 0.65);
// 14% + $top-nav-height
$gallery-margin-small: calc(14% + 2.5rem);
